d_fonts = './fonts/';

@font-face {
  font-family: "haymaker";
  src: url(d_fonts + "haymaker-webfont.eot");
  src: url(d_fonts + "haymaker-webfont.eot?#iefix") format("embedded-opentype"),
       url(d_fonts + "haymaker-webfont.woff") format("woff"),
       url(d_fonts + "haymaker-webfont.ttf") format("truetype"),
       url(d_fonts + "haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blanchcaps_inline';
  src: url(d_fonts + 'blanch_caps_inline-webfont.eot');
  src: url(d_fonts + 'blanch_caps_inline-webfont.eot?#iefix') format('embedded-opentype'),
       url(d_fonts + 'blanch_caps_inline-webfont.woff') format('woff'),
       url(d_fonts + 'blanch_caps_inline-webfont.ttf') format('truetype'),
       url(d_fonts + 'blanch_caps_inline-webfont.svg#blanchcaps_inline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Riven";
  src:url(d_fonts + "Riven.eot?") format("eot"),
      url(d_fonts + "Riven.woff") format("woff"),
      url(d_fonts + "Riven.ttf") format("truetype"),
      url(d_fonts + "Riven.svg#Riven") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Theano Didot Regular";
  src:url(d_fonts + "TheanoDidot-Regular.eot?") format("eot"),
      url(d_fonts + "TheanoDidot-Regular.woff") format("woff"),
      url(d_fonts + "TheanoDidot-Regular.ttf") format("truetype"),
      url(d_fonts + "TheanoDidot-Regular.svg#TheanoDidot-Regular") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Astronaut_II";
  src:url(d_fonts + "ASTRI___.eot?") format("eot"),
      url(d_fonts + "ASTRI___.woff") format("woff"),
      url(d_fonts + "ASTRI___.ttf") format("truetype"),
      url(d_fonts + "ASTRI___.svg#AstronautII") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Xperia";
  src:url(d_fonts + "Xperia.eot?") format("eot"),
      url(d_fonts + "Xperia.woff") format("woff"),
      url(d_fonts + "Xperia.ttf") format("truetype"),
      url(d_fonts + "Xperia.svg#Xperia") format("svg");
  font-weight:normal;
  font-style:normal;
}
