html
  font-size 62.5%

body
  background #D4D4D4
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Open Sans', sans-serif
  font-size 2rem

h1,h2,h3,header
  font-family 'blanchcaps_inline', sans-serif
  text-align center
  font-weight normal
  margin 0

select
  font-family 'Xperia'

input, #gender, #height_ft, #height_in, #age, #weight, .tg
  font-family "Astronaut_II", sans-serif

h4,h5,h6
  font-weight normal
  font-family 'Theano Didot Regular', 'haymaker', sans-serif

label
  font-family 'blanchcaps_inline', sans-serif

.pct_sign
  font-family "Astronaut_II", sans-serif

.infoText
  font-family 'Open Sans', sans-serif

.green
  font-family "Astronaut_II", sans-serif

h2
  text-align center
  margin-top 0
  margin-bottom 2rem

h3
  font-size 3rem

footer a
  font-family 'Xperia'

.help-icon
  font-family 'Open Sans', sans-serif

#macroMode
  input
    font-family 'Open Sans'

// .app-intro
//   font-family 'Rokkitt', sans-serif
//   font-family 'Roboto', sans-serif
